In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,LabelEncoder
import pickle

In [26]:
## load dataset
data=pd.read_csv("Churn_Modelling.csv")
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [27]:
#Preprocess the data
###Dropping irrelevant features
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)
data.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

In [28]:
## Encode categorical variable
label_encoder = LabelEncoder()
data['Gender']=label_encoder.fit_transform(data['Gender'])
data.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France       0  ...               1        101348.88       1
1          608     Spain       0  ...               1        112542.58       0
2          502    France       0  ...               0        113931.57       1
3          699    France       0  ...               0         93826.63       0
4          850     Spain       0  ...               1         79084.10       0

[5 rows x 11 columns]

In [16]:
## One hot encode geography column
from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geo = OneHotEncoder()
geo_encoder = onehot_encoder_geo.fit_transform(data[['Geography']])
geo_encoder

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 10000 stored elements and shape (10000, 3)>

In [29]:
onehot_encoder_geo.get_feature_names_out(['Geography'])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [21]:
geo_encoded_df=pd.DataFrame(geo_encoder.toarray(),columns=onehot_encoder_geo.get_feature_names_out(['Geography']))

In [30]:
data.columns

Index(['CreditScore', 'Geography', 'Gender', 'Age', 'Tenure', 'Balance',
       'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary',
       'Exited'],
      dtype='object')

In [31]:
## Combine the one hot encoded data with the original data
data = pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)
data.head()

   CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0          619       0  ...                0.0              0.0
1          608       0  ...                0.0              1.0
2          502       0  ...                0.0              0.0
3          699       0  ...                0.0              0.0
4          850       0  ...                0.0              1.0

[5 rows x 13 columns]

In [32]:
## Save the encoders and scaler
with open('label_encoder_gender.pkl','wb') as file:
    pickle.dump(label_encoder,file)

with open('onehot_encoder_geo.pkl','wb') as file:
    pickle.dump(onehot_encoder_geo,file)

In [34]:
# Divide the dataset into dependent and independent features

X=data.drop('Exited',axis=1)
y=data['Exited']

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

scaler = StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test=scaler.transform(X_test)

ANN Implementation

In [37]:
import tensorflow as ts
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

In [ ]:
## Building our ANN Model
model = Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)), ##First Hidden Layer Connected with input layer
    Dense(32,activation='relu'), ## Hidden Layer 2
    Dense(1,activation='sigmoid') ## Output Layer
])

In [40]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 64)                832

 dense_4 (Dense)             (None, 32)                2080

 dense_5 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [41]:
## Compiling the model

## setting up an optimizer
opt=ts.keras.optimizers.Adam(learning_rate=0.01)

model.compile(optimizer=opt,loss='binary_crossentropy',metrics=['accuracy'])

In [43]:
## Set up the tensorboard
log_dir="logs/fit" + datetime.datetime.now().strftime("&Y%m%d-%H%M%S")
tensorflow_callback = TensorBoard(log_dir=log_dir,histogram_freq=1) ## Visualize all the logs and error while training the model

In [46]:
## Set up Early Stopping
early_stopping_callback = EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [47]:
## Training the model
history = model.fit(
    X_train,y_train,validation_data=(X_test,y_test),epochs=100,
    callbacks = [tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3387 - accuracy: 0.8645 - val_loss: 0.3488 - val_accuracy: 0.8600
Epoch 2/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3350 - accuracy: 0.8654 - val_loss: 0.3555 - val_accuracy: 0.8570
Epoch 3/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3327 - accuracy: 0.8639 - val_loss: 0.3395 - val_accuracy: 0.8615
Epoch 4/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3297 - accuracy: 0.8624 - val_loss: 0.3450 - val_accuracy: 0.8625
Epoch 5/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3291 - accuracy: 0.8636 - val_loss: 0.3525 - val_accuracy: 0.8595
Epoch 6/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3286 - accuracy: 0.8650 - val_loss: 0.3413 - val_accuracy: 0.8590
Epoch 7/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3255 - accuracy: 0.8666 - val_loss: 0.3363 - val_accuracy: 0.8625
Epoch 8/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3204 - accuracy: 0.8700 - val_loss: 0.3515 - val_accuracy: 0.8580
Epoch 9/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3202 - accuracy: 0.8673 - val_loss: 0.3406 - val_accuracy: 0.8620
Epoch 10/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3195 - accuracy: 0.8670 - val_loss: 0.3600 - val_accuracy: 0.8540
Epoch 11/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3193 - accuracy: 0.8668 - val_loss: 0.3660 - val_accuracy: 0.8570
Epoch 12/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3143 - accuracy: 0.8660 - val_loss: 0.3556 - val_accuracy: 0.8610
Epoch 13/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3101 - accuracy: 0.8704 - val_loss: 0.3540 - val_accuracy: 0.8605
Epoch 14/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3074 - accuracy: 0.8726 - val_loss: 0.3568 - val_accuracy: 0.8620
Epoch 15/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3061 - accuracy: 0.8720 - val_loss: 0.3529 - val_accuracy: 0.8565
Epoch 16/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3055 - accuracy: 0.8723 - val_loss: 0.3628 - val_accuracy: 0.8565
Epoch 17/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3021 - accuracy: 0.8751 - val_loss: 0.3489 - val_accuracy: 0.8600

In [48]:
model.save('model.h5')

d:\ANN_Classification\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

In [52]:
## Loading Tensorboard Extension
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [55]:
%tensorboard --logdir logs/fit&Y0408-225814/

Reusing TensorBoard on port 6007 (pid 32440), started 0:00:16 ago. (Use '!kill 32440' to kill it.)

In [ ]:
## Load the pickle file